*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header segment*/

header{
 display: flex;
 background-color: white;
}

.left-side{
    display: flex;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-left: 24px;
    padding: 8px;
}

#gray{
    color: grey;
    font-weight: normal;
}

.right-side ul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    list-style: none;
}

.right-side li{
    padding: 16px;
    margin-right: 24px;
}

/*Learn something segment*/

.learn-something{
    background-color: rgb(203, 205, 207);
    display: flex;
}

.left{
    width: 60%;
    padding: 32px 24px;
}

.right{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 24px;
}
.right #prvi{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 73px;
    color: rgb(67, 66, 66);
}

.right #drugi{
    color: rgb(86, 86, 86);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.right #treci{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    border-style: solid;
    border-color: rgb(67, 66, 66);
    color: white;
    background-color: rgb(67, 66, 66);
    padding: 8px 200px 8px 200px;
}



/*Practise segment*/

.left{
    width: 60%;
}
 
.header-practise{
    margin-top: 32px;
    font-size: 55px;
    color: rgb(67, 66, 66);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 24px;
}

.little-opacity{
    opacity: 0.75;
    margin-bottom: 32px;
}

